<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique MMR {{ player_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% if  previous_url %}
    <a href="{{ previous_url }}">RETOUR</a>
    {% endif %}
    <div id="graph"></div>

    <script>
       // Données factices pour l'exemple
       

        var timestamps = {{ date_array | safe }};
        var elo_values = {{ mmr_array | safe }};

       

        var trace = {
            x: timestamps,
            y: elo_values,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'MMR'
        };

        var layout = {
            title: 'Graphique MMR pour {{ player_name }} - {{ gamemode_name }}',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'MMR'
            }
        };

        Plotly.newPlot('graph', [trace], layout);
    </script>
</body>
</html>
