<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique MMR {{ player_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div><a href="/">RETOUR MENU</a></div>
    <div id="graph"></div>

    <script>
        var data = {{ data | tojson }};

        var elo = [];
        var gamemodes = [];

        data.forEach(function(item) {
            elo.push(item[1]);
            gamemodes.push(item[0]);
        });

        var trace = {
            x: gamemodes,
            y: elo,
            type: 'bar'
        };

        var layout = {
            title: 'Graphique MMR par mode de jeu',
            xaxis: {
                title: 'Mode de jeu'
            },
            yaxis: {
                title: 'MMR'
            }
        };

        Plotly.newPlot('graph', [trace], layout);
    </script>
</body>
</html>
