<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique MMR {{ player_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% if  previous_url %}
    <a href="{{ previous_url }}">RETOUR</a>
    {% endif %}
    <div id="graph"></div>

    <script>
       // Données factices pour l'exemple
       

        var timestamps = {{ object_mmr.i_array | safe }};
        var elo_values = {{ object_mmr.mmr_array | safe }};

       

        var trace = {
            x: timestamps,
            y: elo_values,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'MMR',
            text: {{ object_mmr.date_array | safe }},
            line: {shape: 'spline'},
        };
        {% if object_mmr_today.mmr_array %}
        var timestamps_today = {{ object_mmr_today.i_array | safe }};
        var elo_values_today = {{ object_mmr_today.mmr_array | safe }};

        var trace_today = {
            x: timestamps_today,
            y: elo_values_today,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'MMR',
            text: {{ object_mmr_today.date_array | safe }},
            line: {shape: 'spline'}
        };
        {% endif %}
        

        var layout = {
            title: 'Graphique MMR pour {{ player_name }} - {{ gamemode_name }}',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'MMR'
            },margin: {
                autoexpand: false,
                l: 100,
                r: 20,
                t: 100
            },
        };

        Plotly.newPlot('graph', [trace{% if object_mmr_today.mmr_array %},trace_today{% endif %}], layout);
    </script>
</body>
</html>
