<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique {{ player_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div><a href="/">RETOUR MENU</a></div>
    <div id="historique">
        {% for h in historique %}
        <div id="{{ h.id }}"  class="historique
            {% if h.victory %}
                win"> <h4>VICTOIRE</h4>
            {% else %}
                lose"> <h4>DEFAITE</h4>
            {% endif %}
            <h3 class="gamemode">{{ Gamemode(h.gamemode_id).str_value }}</h3>
            <h3 class="elo">{{ h.mmr_won }}</h3>
            {% if h.rage_quit %}
                <h5 class="ragequit">Rage quit</h5>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
