<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique {{ player_name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <style>
    td{
        border: solid blue;
    }
    .win{
        color:green;
    }
    .lose{
        color: red;
    }
    
    .gamemode{
        
    }
    .elo.positif{
        color:green
    }
    .elo.negatif{
        color:red
    }
    .elo.bug{
        color: grey
    }
    </style>
    {% if  previous_url %}
    <a href="{{ previous_url }}">RETOUR</a>
    {% endif %}
    <div id="historique">
        <table>
            <thead>
                <thead>
                    <tr>
                    <th></th>
                    <th>Gamemode</th>
                    <th>MMR Gagné</th>
                    <th>Date et heure</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in historique %}
                    <tr>
                        {% if h.victory %}
                            <td class="win">VICTOIRE</td>
                        {% else %}
                            <td class="lose">DEFAITE</td>
                        {% endif %}
                        <td class="gamemode">{{ Gamemode(h.gamemode_id).str_value }}</td>
                        <td class="elo {% if h.mmr_won > 0 %}positif{% elif h.mmr_won < 0 %}negatif{% else %}bug{% endif %}">{{ h.mmr_won }}</td>
                        <td class="timestamp">{{ datetime.datetime.fromtimestamp(h.timestamp) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table> 
    </div>
</body>
</html>
