<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Utilisateurs</title>
</head>
<body>
    <h2>Compte {{ player.player_name }}</h2>

    <div id="summary">
        <h3>Elo actuellement</h3>
        <table>
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">now</th>
              <th scope="col">top</th>
            </tr>
          </thead>
          <tbody>
            {% for rank in ranks %}
            <tr>
              <th scope="row">{{ Gamemode(rank.gamemode_id).str_value }}</th>
              <td>{{ rank.mmr }}</td>
              <td>{{ rank.max_mmr }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div id="historique">
        <h3>Historique</h3>
        {% for h in historique %}
        <div id="{{ h.id }}"  class="historique">
            {% if h.victory %}
            <h4 class="win">VICTOIRE</h4>
            {% else %}
            <h4 class="lose">DEFAITE</h4>
            {% endif %}
            <h3 class="gamemode">{{ Gamemode(h.gamemode_id).str_value }}</h3>
        </div>
        {% endfor %}
    </div>
        
    <form id="gamemodeForm" method="get" action="/gamemode">
        <input id="user" name="user" type="tex" value="{{ player.player_id }}" hidden>
        <label for="gamemode">Graphique par mode de jeu :</label>
        <select id="gamemode" name="gamemode">
            {% for gamemode in gamemodes %}
                <option value="{{ gamemode_id }}">{{ Gamemode(gamemode_id).str_value }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Charger</button>
    </form>

    
</body>
</html>
