<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Utilisateurs</title>
</head>
<style>
    .win{
        color:green
        
    }
    .lose{
        color: red
    }
    .historique{
        
        margin-bottom: 12px;
    }
    #account_name{
        text-align: center;
    }
   
    #summary{
        border: solid blue;
    }
    #graph{
        border: solid blue;
    }
    #historique{
        border: solid blue;
    }
</style>
<body>
    {% if  previous_url %}
    <a href="{{ previous_url }}">RETOUR</a>
    {% endif %}
    <h2 id="account_name">Compte {{ player.player_name }}</h2>
    <div id="summary">
        <h3>Elo actuellement</h3>
        <table>
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">now</th>
              <th scope="col">top</th>
            </tr>
          </thead>
          <tbody>
            {% for rank in ranks %}
            <tr>
              <th scope="row">{{ Gamemode(rank.gamemode_id).str_value }}</th>
              <td>{{ rank.mmr }}</td>
              <td>{{ rank.max_mmr }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div id="graph">
        <form id="gamemodeForm" method="get" action="/graph_gamemode">
            <input id="user" name="id" type="password" value="{{ player.player_id }}" hidden>
            <label for="gamemode">Graphique par mode de jeu :</label>
            <select id="gamemode" name="gamemode">
                {% for gamemode_id in gamemode_ids %}
                    <option value="{{ gamemode_id }}">{{ Gamemode(gamemode_id).str_value }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit">Charger</button>
        </form>
    </div>
    


    <div id="historique">
        <h3>Historique</h3><span><a href="/historique?id={{ player.player_id }}">(plus)</a></span>
        {% for h in historique %}
        <div id="{{ h.id }}"  class="historique">
            {% if h.victory %}
            <span class="win">VICTOIRE</span>
            {% else %}
            <span class="lose">DEFAITE</span>
            {% endif %}
            <span class="gamemode">{{ Gamemode(h.gamemode_id).str_value }}</span>
            <span class="timestamp">{{ datetime.datetime.fromtimestamp(h.timestamp) }}</span>
        </div>
        {% endfor %}
    </div>
    
        
    

    
</body>
</html>
