{% extends 'base.html' %}

{% block content %}

<h2 id="account_name" class="username"> {{ player.player_name }} </h2>
    <div id="summary">
        <h3>Elo</h3>
        <div id="table_elo_div">
            <table class="table_elo">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">NOW</th>
                <th scope="col" >TOP</th>
                <th scope="col">DIFF</th>
                <th scope="col">Graphique</th>
            </tr>
          </thead>
          <tbody>
            {% for rank in ranks %}
            <tr>
                <th scope="row">{{ Gamemode(rank.gamemode_id).str_value }}</th>
                <td>{{ rank.mmr }}</td>
                <td class="cell_top">{{ rank.max_mmr }}</td>
                {% if rank.mmr - rank.max_mmr <0 %}
                <td class="below">{{ rank.mmr - rank.max_mmr }}</td>
                {% else %}
                <td class="up">{{ rank.mmr - rank.max_mmr }}</td>
                {% endif %}
                <td class="graph"><a href="/gamemode?id={{ player.player_id }}&gamemode={{ rank.gamemode_id }}">bouton</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

    </div>
<div class="row">
     <div class="col" id="historique">
        <h3>Historique</h3><span><a href="/historique?id={{ player.player_id }}">(plus)</a></span>
        {% for h in historique %}
        <div id="{{ h.id }}"  class="historique">
            {% if h.victory %}
            <span class="win">VICTOIRE</span>
            {% else %}
            <span class="lose">DEFAITE</span>
            {% endif %}
            <span class="gamemode">{{ Gamemode(h.gamemode_id).str_value }}</span>
            <span class="timestamp">{{ datetime.datetime.fromtimestamp(h.timestamp) }}</span>
        </div>
        {% endfor %}
    </div>

    <div class="col" id="graph">
        <script>
       // Données factices pour l'exemple


        var timestamps = {{ date_array | safe }};
        var elo_values = {{ mmr_array | safe }};

        var trace = {
            x: timestamps,
            y: elo_values,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'MMR'
        };

        var layout = {
            title: 'Graphique MMR pour {{ player_name }} - RankedSingle',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'MMR'
            }
        };

        Plotly.newPlot('graph', [trace], layout);
    </script>
    </div>
    
</div>


{% endblock %}
